.selected {
  color: orange !important;
}

.unSelected {
  color: green !important;
}

.popUpImg {
  max-width: 60% !important;
}

.bottom {
  margin-bottom: 15%;
}

.cardTitleSessionDetails2 {

  text-align: center;
  margin-left: auto;
}

.location p {
  color: darkgreen;
}

.imgSessionDetail img {
  max-width: 100px;
  max-height: 100px;
  border-radius: 15px;
}

.instructorName {
  font-size: large;
  font-weight: bold;
}

.truncate {
  text-overflow: ellipsis;
}