.profile-picture {
  scale: 0.5;
}

.name {
  margin-left: 10px;
  font-size: 1.2rem;
}

.logout-button {
  margin-top: auto !important;
  margin-bottom: 50px;
}

.profile-view,
.list-view {
  height: 100%;
}